.idea
**/node_modules
*.env*
public/pdf/*
public/uploads/*
public/assets/*
public/mix/*
public/passports/*
public/documents/*
err.log
log.log
deployment-files
coverage*
build/
.vscode/
tests.xml
.clinic
node_*.log
isolate-*-v8.log
flamegraph.html
