<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">​
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>OTP for Email Verification</title>
	<style type="text/css">
	.style1 {
            color: #000000;
			font-family: Georgia, "Times New Roman", Times, serif;
	}
    .style3 {
			color: #FFFFFF;
		}
		.style4 {
            color: #666666;
            font-family: Arial, Helvetica, sans-serif;

		}
​</style>
</head>
<body>
	<div style="background-color:#ffffff; margin:0;font-family:sans-serif;font-style:normal;font-weight:400">
        <table style="background-color:#ffffff; font-family:sans-serif;font-style:normal;font-weight:400" width="100%" cellspacing="0" cellpadding="0">
			<tbody>
				<tr>
                    <td style="padding:30px 20px 30px 20px;font-family:sans-serif;font-style:normal;font-weight:400">
                        <table style="background-color: #fff; font-family: sans-serif; font-style: normal; font-weight: 400; border-radius: 10px; border: 1px solid#e8ecec; box-shadow: 10px 10px 0px rgba(0,0,0,0.05);"
                            width="500" cellspacing="0" cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td style="font-size:0;line-height:0;text-align:center;padding:60px 0px 45px 0px;font-family:sans-serif;font-style:normal;font-weight:400">   
                                        <div width="197" height="39"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size:32px;font-weight:400;padding:0px 30px 0px 30px;line-height:1.3em;color:#333333; font-family:Roboto,sans-serif;font-style:normal"
                                        align="center"><span class="style1">Hello </span></td>
                                </tr>
                                <tr>
                                    <td style="font-size:16px;font-style:normal;font-weight:100;line-height:1;padding:30px 0px 70px 0px;font-family:Roboto,sans-serif;border-bottom:1px solid transparent"
                                        align="center">
                                     

                                        <p>Use below OTP to verify your email address!</p>
                                        <p><span style="line-height: 25px; font-weight: 400; color: #666666;" >OTP (One Time Password): <strong><%= otp %></strong></span></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
					</td>
					</tr>
                <tr>
                    <td style="font-size:0;line-height:0;padding:0px 20px 30px 20px;font-family:sans-serif;font-style:normal;font-weight:400">
                        <table style="font-family:sans-serif;font-style:normal;font-weight:400" width="500" cellspacing="0"
                            cellpadding="0" align="center">
                            <tbody>
                                <tr>
                                    <td style="font-size:13px;font-style:normal;font-weight:400;line-height:1.5;color:#666666;font-family:Roboto,sans-serif"
                                        width="418">Copyright © 2019, Inc.</td>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
	</div></body>
	</html>
